.ionide/
.vscode/
.idea/
.clj-kondo/
.lsp/
/*/__pycache__/
/*/.pytest_cache/
/*/*.pyc
/cleanup.ps1
cleanup.sh
cleanup.*
runTests.ps1
# pytest.ini
HELP.md
HINTS.md
prepareTests.ps1
.fake
.ionide
debug.log
*.stackdump
